@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


html, body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

body {
    /* Incluindo a Imagem de Fundo no Topo e Centro */
    background: url("../imagens/fundo-madeira.jpg") no-repeat top center;
    /* Cobrindo a Tela Inteira:  */
    background-size: cover;
    /* Fixando para não haver rolagem:  */
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
    /* Cor de Fundo para Ajudar na Centralização:  */
    /* background-color: green; */
}

#telefone {
    /* Centralizando a Caixa:  */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Carregando a Imagem do iPhone:  */
    background: url("../imagens/frame-iphone.png") no-repeat ;
    /* Abrir a Imagem no GIMP e verificar as dimensões:  */
    height: 627px;
    width: 311px;
    
    /* Cor de Fundo para Ajudar na Centralização:  */
    /* background-color: blue; */
}

    /* Seletor section id="tela" para a Tela do iPhone*/
iframe#tela {
    /* Ajustando a Imagem Home do iframe para cobrir
    a Tela do iPhone */
    position: relative;
    /* 1º Passo: Ajustar o Topo e à Esquerda */
    top: 80px;
    left: 22px;
    /* 2º Passo: Ajustar a Largura e a Altura */
    width: 267px;
    height: 471px;
}

    /* Seletor section id="redes-sociais" para os Botões Laterais */
section#redes-sociais img {
    width: 50px;
    /* Não precisa, pois quando a largura é reduzida, 
    a altura também é na mesma proporção */
    /* height: 50px;  */
    /* Para dar um espaçamento entre os Botões  */
    margin: 10px;
    /* Para os Botões ficarem arredondados */
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    /* 
    Para a borda dos Botões não fazer parte da Caixa */
    box-sizing: border-box;
}

    /* Para posicionar os Botões do Lado Direito da tela  */
section#redes-sociais {
    text-align: right;
}

    /* Para criar uma borda para os Botões e dar uma
    leve movimentação quando passar o pointer do mouse
    sobre eles*/
section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.637);
    transform: translate(-3px, -3px);
    /* Para a sombra também se movimentar */
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.623);
    /* Para a transição e a formação da borda quando 
    passar o pointer do mouse sobre os Botões ficar 
    mais suave */
    transition: transform .3s, border .5s;
}
    


