@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


html, body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

body {
    /* Incluindo a Imagem de Fundo no Topo e Centro */
    background: url("../imagens/fundo-madeira.jpg") no-repeat top center;
    /* Cobrindo a Tela Inteira:  */
    background-size: cover;
    /* Fixando para não haver rolagem:  */
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
    /* Cor de Fundo para Ajudar na Centralização:  */
    /* background-color: green; */
}

#telefone {
    /* Centralizando a Caixa:  */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Carregando a Imagem do iPhone:  */
    background: url("../imagens/frame-iphone.png") no-repeat ;
    /* Abrir a Imagem no GIMP e verificar as dimensões:  */
    height: 627px;
    width: 311px;
    
    /* Cor de Fundo para Ajudar na Centralização:  */
    /* background-color: blue; */
}

    /* Seletor id="tela" */
    #tela {
    /* Ajustando a Imagem Home do iframe para cobrir
    a Tela do iPhone */
    position: relative;
    /* 1º Passo: Ajustar o Topo e à Esquerda */
    top: 80px;
    left: 22px;
    /* 2º Passo: Ajustar a Largura e a Altura */
    width: 269px;
    height: 471px;
    }
    


